@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i");

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 35rem;
  position: relative;
}
.page-wrapper-single {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Source Sans Pro";
  font-weight: 300;
}
.page-wrapper-single h1,
.page-wrapper-single h2,
.page-wrapper-single h3,
.page-wrapper-single h4,
.page-wrapper-single h5,
.page-wrapper-single h6 {
  font-family: "Merriweather";
  font-weight: 700;
}
.page-wrapper-single .video-react-controls-enabled {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  padding-top: 0 !important;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("/assets/images/bg-mobile-fallback.jpg") no-repeat center
      center scroll;
    background-size: cover;
    /* background-color: #cd9557 !important; */
    z-index: 1;
  }
  .video-react-controls-enabled {
    display: none;
  }
  .counter {
    display: none;
  }
  .page-wrapper-single {
    height: 100%;
  }
  .social-icons ul > li {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cd9557;
  opacity: 0.7;
  z-index: 1;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  /* background-color: rgba(0, 46, 102, 0.8); */
  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 1rem;
    padding-right: 5rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 46, 102, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}
@media (min-width: 375px) {
}
@media (min-width: 768px) {
  body {
    min-height: 0;
  }
  .page-wrapper-single {
    height: 100vh;
  }
  .social-icons {
    margin: 0;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #002e66;
  }
}

.btn-secondary {
  background-color: #cd9557;
  border-color: #cd9557;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #ba7c37 !important;
  border-color: #ba7c37 !important;
}
.input {
  font-weight: 300 !important;
}
.video-react-control-bar,
.video-react-big-play-button {
  display: none !important;
}
.video-react-controls-enabled {
  padding-top: 0 !important;
}
